.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .virtual-flow .scroll-bar:horizontal,
.list-view .virtual-flow .scroll-bar:horizontal .track,
.list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #cecece, #cecece);
}
.list-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #cecece, #cecece);
}
.table-view:focused{
    -fx-background-color: white;}
